body {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 60%;
    background-color: gray;
    min-height: 100%;
}

@media (max-width: 767px) {
    .container {
        width: 94%;
    }
}
