:root {
    --section-bg: #282828;
    --alternate-bg: #181818;
    --text: whitesmoke;
    --blue: #48aa9f;
    --orange: #e18731;
    --pink: #df5d99;
    --section-border-radius: 15px;
    --transition: 0.2s ease-in;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: black;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: var(--section-bg);
    border-radius: 5px;
    transition: var(--transition);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family: monospace;
    color: var(--text);
    width: 100%;
}

nav {
    margin-right: auto;
    height: 22px;
    padding: 10px;
}

a,
img {
    height: 100%;
}

article {
    width: 50%;
}

section {
    background-color: var(--section-bg);
    margin-bottom: 40px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: var(--section-border-radius);
    transition: var(--transition);

    &:nth-child(3n-2):hover {
        border-color: var(--blue);
    }

    &:nth-child(3n-2) .section-header {
        background-color: var(--blue);
    }

    &:nth-child(3n-1):hover {
        border-color: var(--pink);
    }

    &:nth-child(3n-1) .section-header {
        background-color: var(--pink);
    }

    &:nth-child(3n):hover {
        border-color: var(--orange);
    }

    &:nth-child(3n) .section-header {
        background-color: var(--orange);
    }
}

select {
    background-color: var(--text);
    border-radius: 5px;
}

table {
    table-layout: fixed;
    width: 100%;
}

.table-container {
    padding: 10px;
}

.visual-container {
    padding: 30px;
}

.restrict-height {
    max-height: 70vh;
}

.scroll {
    overflow-y: auto;
    height: 60vh;
    margin: 10px 10px 20px 0px;
    padding: 10px;

    &::-webkit-scrollbar {
        width: 10px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--alternate-bg);
        border-radius: 5px;
        transition: var(--transition);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--text);
    }
}

tr {
    height: 30px;

    &:nth-child(even) {
        background-color: var(--alternate-bg);
    }
}

td {
    padding: 5px;
}

#loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    width: 100%;
    background-color: black;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-header {
    min-height: 40px;
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 4px 15px;
    border: 2px black;
    border-radius: var(--section-border-radius) var(--section-border-radius) 0 0;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.selection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 10px;
    column-gap: 20px;
    max-width: 100%;
    padding: 4px 15px;
    margin-top: 10px;
}

.selection * {
    margin: 0px;
}

#week-select,
#lang-week-select,
#char-week-select,
#char-lang-select {
    min-width: 120px;
}

#char-num-select {
    min-width: 80px;
}

@media (max-width: 800px) {
    article {
        width: 94%;
    }
}
